body{
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  /* margin: 50px 140px; */

}
.header{
    position: relative;
    margin: 50px 140px;
}
.bg{
    width: 100%;
}
.bg-gdt{
    position: absolute;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
}
.title{
    text-align: center;
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    width: 632px;
    z-index: 99999;
}
.happy{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 10px;
}
.new{
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 700;
    line-height: 95px;
    margin-top: 10px;
    line-height: 70px;
}

/* <!-- 65% off section --> */
.off{
    /* margin: 50px; */
    text-align: center;
    margin: 50px 140px;
}

.off-title{
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.holiday{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 24px;
}

.all{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
    margin-top: 16px;
}
.new-bg{
    width: 802.9px;
    height: 500px;
}
/* party section  */

.party{
    background-image: url("../resources/Vectorrr.png");
    background-repeat: no-repeat;
    border-radius: 16px;
    position: relative;
    background-size: cover;
    margin: 50px 140px;
    
}
.party-bg-gdt{
    position: absolute;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    border-radius: 16px;
}
.party-continer{
    /* position: absolute; */
    display: flex;
    align-items: center;
    padding: 50px 120px;
    border-radius: 16px;
    margin: 100px 0px;
}
.party-item{
    z-index: 9999;
}
.Welcome{
    color: #FFF;
    font-size: 64px;
    font-weight: 700;
    line-height: 74px;
    letter-spacing: 7.04px;
    margin-bottom: 8px;
}
.pera{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.join{
    color: #FFF;
    text-align: left;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 0px  32px  ;
}
/* Event section  */
.event{
    margin: 50px 140px;
    /* width: 100%; */
    height: 482px;
    /* padding: 80px 0px; */
    display: flex;
    /* margin: 50px 0px; */
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}

/* .event-ifo{
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 16px;

} */
.ifo{
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    margin: 12px 1px;
}

.red{
    color: #F00;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; 
    text-transform: capitalize;
}

.button{
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border: solid 0px;
    margin-top: 32px;
}

/* comming-soon section  */
.comming-soon{
    margin: 50px 140px;
    display: flex;
    gap: 40px   ;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
}
.coming{
    width: 593px;
}

.offer{
    color: #F00;
    text-align: left;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
}
.soon{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.offer-pera{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.group-pic{
    border-radius: 463px;
    border: 15px solid #F00;
    padding: 32px;
}

.happy-new{
    width: 475px;
    padding-left: 60px;
}
/* holidays sell section  */
.holiday-section{
    margin: 50px 140px;
}
.holidays-info{
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.what-is{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.sale{
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: 16px;
    margin-bottom: 24px;
}
.span-seal{
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: 16px;
    margin-bottom: 24px;
}
.holiday-pera{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    color: rgba(7, 2, 17, 0.60);
    margin-top: 24px;
    margin-bottom: 64px;
}
.discount{

}

/* portfolio section */
.portfolio{
    margin: 50px 140px;
    /* width: 100%; */
    /* margin: 100 140px  ; */
    margin-top: 100px;
    margin-bottom: 100px;
}
.portfolio-title{
    text-align: left;
    width: 896px;;
}
.gift{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.awesome{
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 16px;
    margin-bottom: 22px;
}
.portfolio-pera{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 22px;
    margin-bottom: 48px;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 1fr);  
    gap: 16px; 

}
  
.grid-item{
    border-radius: 16px;  
    justify-items: auto;
    width: 100%;
}

  /* subscribe section  */
.subscribe{
    margin: 50px 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}
.subscribe-info{
    width: 896px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.newsletter{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
  }
.newsletter-pera{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 48px;
}

label{
    align-items: center;
    width: 100%;
    justify-content: center;
    text-align: center;
}
.emil-inp{
    border: none;
    width: 438px;
    height: 72px;
    padding-left: 30px;
    color: rgba(7, 2, 17, 0.30);
    font-size: 18px;
    font-weight: 400;
    border-radius: 50px 0px 0px 50px;
    background: #FFF;

}
.subscribe-btn{
    border: none;
    width: 210px;
    height: 72px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    margin-left: -6px;
}

/* footer section  */
footer{
    width: 100%;
    /* height: 609px; */
    background: #070211;
}
.footer-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 140px;
    
    
}
.footer-address{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}
.ph-num{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    align-items: center;
}

.footer-icon{
    text-align: center;
    padding: 24px 140px;
    
}
.icon-amag{
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
hr{
    height: .5px;
    background: rgba(179, 155, 155, 0.15);
}

.copyright{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}




